<%= form_with(model: artist, local: true) do |form| %>
  <% if artist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(artist.errors.count, "error") %> prohibited this artist from being saved:</h2>

      <ul>
      <% artist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :artist_name %>
  </div>

  <div class="field">
    <%= form.label :description_en %>
    <%= form.text_field :description_en, id: :artist_description_en %>
  </div>

  <div class="field">
    <%= form.label :description_de %>
    <%= form.text_field :description_de, id: :artist_description_de %>
  </div>

  <%= collection_select(:artist, :tags, @tags, :id, :name,{:include_blank => 'None'}, {:multiple => true, :name=>'artist[tags][]',:selected => 0}) %>

  <%= collection_select(:artist, :locations, @locations, :id, :name,{:include_blank => 'None'}, {:multiple => true, :name=>'artist[locations][]',:selected => 0}) %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
